<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- css -->
<link href="static/css/style.css" rel="stylesheet">
<!-- jquery -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<title>애움길_local</title>
<link rel="icon" type="image/x-icon" href="static/images/aeumgil_logo.ico">

<script>
    $(document).ready(function(){
        // 버튼 클릭시 어려운 말에 있는 문장을 가지고온다.
        $('#predict_button').click(function(){
            Loading();
            var diff_text = $('#diff_ta').val();
            // console.log(diff_text.length);
            
            if(diff_text == '' || diff_text == 'undefined'){
                alert('입력한 말이 없습니다.');
                closeLoading();
            } else{
                if(diff_text.length > 3000){
                    alert('입력한 말이 3000자를 넘습니다.\n입력한 말을 다시 확인해주세요.');
                } else{
                    var data = {
                        'text' : diff_text
                    }

                    // AJAX 사용해서 비동기적으로 서버와 통신하여 값을 가지고온다.
                    $.ajax({
                        type: 'POST', // POST형식 사용
                        url: '{{url_for("predict")}}', // 서버에 접속할 URL
                        data: JSON.stringify(data), // JavaScript 값이나 객체를 JSON 문자열로 변환
                        dataType: 'JSON', // JSON 타입으로 값을 보낸다.
                        contentType: 'application/json',
                        success: function(result){
                            predict = result.result2; // 모델 예측 output
                            wd_list = result.result3; // 단어 사전 리스트형
                            wd_key = result.result4;  // 단어 사전에서 key값만 추출

                            var replace_predict = predict;
                            for(var i=0; i<wd_key.length; i++){
                                // 쉬운 글
                                replace_predict = replace_predict.replace(wd_key[i],
                                                  '<span class="wd_dict">' + wd_key[i] + '</span>');
                            }

                            var wd_str = '';
                            wd_list.forEach(element => {
                                // 단어사전
                                wd_str += 'ㆍ' + element + '\n'; // 줄 바꿈 적용
                            });

                            $('#easy_ta').html(replace_predict);
                            $('#dict_ta').text(wd_str);

                            closeLoading();
                        },
                        error: function(request, status, error){
                            // alert(request, status, error);
                            // alert("code: " + request.status + "\n" + "message: " + request.responseText + "\n" + "error: " + error);
                            alert('쉬운 말로 바꾸는데 실패하였습니다.\n입력한 말이 3000자가 넘는지 확인해주세요.');

                            closeLoading();
                        }
                    })
                }
                
            }
        })
    });

    // 로딩 대기화면
    // 참고: https://chobopark.tistory.com/188
    function Loading() {
        var maskHeight = $(document).height();
        var maskWidth  = window.document.body.clientWidth;

        var mask       = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        var loadingDiv = '';
        
        loadingDiv += " <div id='loading_div'>";
        loadingDiv += "     <img src='static/images/loading.gif' class='loading_img'";
        loadingDiv += " </div>";  
    
        $('body').append(mask);
    
        $('#mask').css({
                'width' : maskWidth,
                'height': maskHeight,
                'opacity' :'0.3'
        });

        $('#map').css({
                'position' : 'absolute',
                'left' : maskWidth / 2,
                'top' : maskHeight / 3
        });
        
        $('#mask').show();
    
        $('#loading').append(loadingDiv);
        $('#loading_div').css({
                'position' : 'absolute',
                'left' : maskWidth / 2,
                'top' : window.document.body.clientHeight / 2
        });

        $('#loading').show();
    }

    // 로딩 대기화면 종료
    function closeLoading() {
        $('#mask, #loading_div').hide();
        $('#mask, #loading_div').remove(); 
    }
</script>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src={{ url_for('static', filename='images/aeumgil_logo.png') }} class="title_img">
            <p class="title_header">신문 기사를 쉬운 말로 요약해주는 AI 서비스</p>
        </div>

        <div class="title_exp">
            <p class="title_explain" style="display: none;">어려운 말을 쉬운 말로 바꿔드립니다. ^0^</p>
        </div>

        <div class="contents">
            <div class="write_diff">
                <p class="write_header">신문 기사를 입력해주세요.</p>
                <textarea class="write_ta" id="diff_ta" maxlength="3000" placeholder="여기에 어려운 말을 입력해주세요."></textarea>

                <div class="div_button">
                    <button id="predict_button" class="predict_button">쉬운 말로 바꾸기</button>
                </div>
            </div>
        
            <div class="write_easy">
                <p class="write_header">쉬운 말로 요약해줍니다.</p>
                <div class="write_ta" id="easy_ta"></div>
            </div>

            <div class="word_dict">
                <p class="write_header">단어사전</p>
                <textarea class="write_ta" id="dict_ta" disabled></textarea>
            </div>
        </div>
    </div>

    <div id="loading"></div>
</body>
</html>